<% if (locals.page?.file && locals.isForm === true) { %>
  <label>Existing file</label>
  <p>This is the file currently associated with this page. Uploading a new file will replace this file with the one
    that you select. You can edit other parts of this page without changing the file by not uploading a file.</p>
<% } %>
<% if (locals.page?.file?.url && isImage) { %>
  <img src="<%= page.file.url %>" alt="<%= title %>" />
<% } else if (locals.page?.file?.url && !isImage) { %>
  <a href="<%= page.file.url%>" class="download">
    <strong>Download file</strong>
    <small><%= page.file.mimetype %>; <%= formatSize(page.file.size) %></small>
  </a>
<% } %>