<form action="<%= locals.character ? `/profile/character/${character._id}` : '/profile/character' %>" method="POST">
  <label for="path"<% if (locals.errors && errors?.path) { %> class="error"<% } %>>
    Path
    <p class="note">Before you can create a character, your character must have a page. Take the URL of that page. Its <em>path</em> is the part of the URL that appears after the domain. This part will look like <code>/character-name</code> (though just the <code>character-name</code> part, without the leading slash, will also work).</p>
  </label>
  <input type="text" id="path" name="path" placeholder="/character-name" value="<%= locals.character ? `/${character.page?.path}` : locals.get?.path ? get.path : '' %>"<% if (locals.errors && errors?.path) { %> class="error"<% } %> />
  <% if (locals.errors && errors?.path) { %><p class="error"><%- errors.path %></p><% } %>
  <% if (locals.games) { %>
  <% for (const game of Object.keys(games)) { %>
  <section class="<%= game %> char-form">
    <h3><%- games[game].name %></h3>
    <p>Please enter the statistics that this character has under the rules of <%- games[game].name %>.</p>
    <div class="char-form-stats">
      <% for (const stat of games[game].stats) { %>
      <div class="char-form-stat">
        <label for="<%= stat.id %>">
          <%= stat.label %>
          <span class="detail"><%= stat.detail %></span>
        </label>
        <input type="<%= stat.type %>" id="<%= stat.id %>" name="<%= stat.id %>" value="<%= stat.val || 0 %>" />
      </div>
      <% } %>
    </div>
  </section>
  <% } %>
  <% } %>
  <label for="tags">
    Tags
    <p class="note">Provide a comma- or semicolon-separated list of tags for this character.</p>
  </label>
  <input type="text" name="tags" id="tags" value="<%= character?.tags?.join('; ') || '' %>" />
  <p class="actions">
    <button><%= locals.character ? `Edit ${character.page.title}` : 'Create Character' %></button>
    <a href="/profile" class="button-space">Cancel</a>
  </p>
</form>