<form action="<%= locals.page ? `/${page.path}/edit` : '/create' %>" method="POST"<% if (locals.upload === true) { %> enctype="multipart/form-data" class="upload"<% } %>>
        <%- include('file', { isForm: true, isImage: locals.page && page.types.includes('Image file'), title: locals.page?.title, file: locals.page?.file }) %>
        <% if (locals.upload) { %>
        <label for="file">File</label>
        <input type="file" id="file" name="file" />
        <% } %>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Enter the title for this page here" value="<%= locals.page ? page.title : locals.get?.title ? get.title : '' %>" />
        <label for="body">Body</label>
        <textarea id="body" name="body" class="body"><% if (locals.page) { %><%= page.body %><% } else if (locals.get?.body) { %><%= get.body %><% } %></textarea>
        <label for="msg">Message</label>
        <input type="text" id="msg" name="msg" placeholder="A short description of the change that you’re making" value="<%= locals.get?.msg ? get.msg : locals.page ? null : 'Initial text' %>" />
        <h2>Secrets</h2>
        <% for (let i = 1; i <= numSecrets; i++) { %>
        <div class="secret-form">
          <% const existing = locals.secrets && secrets?.length > i - 1 ? secrets[i - 1] : null %>
          <% if (existing) {%><input type="hidden" name="secret-id" value="<%= existing._id %>" /><% } %>
          <input type="number" name="secret-order" value="<%= i %>" />
          <textarea name="secret"><% if (existing) { %><%= existing.text %><% } %></textarea>
        </div>
        <% } %>
        <p class="actions">
          <button><% if (locals.page) { %>Save Changes<% } else { %>Create Page<% } %></button>
        </p>
      </form>