<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title: page.title }) %>
    <nav class="page">
      <li><a href="<%= page.path %>">Read</a></li>
      <% if (isLoggedIn) { %>
        <li><a href="/<%= page.path %>/edit">Edit</a></li>
      <% } %>
      <li><a href="/<%= page.path %>/history">History</a></li>
    </nav>
    <main>
      <header class="compare">
        <p>Comparing the version created at
          <a href="/<%= page.path %>/<%= versions[0]._id %>"><%= formatDate(versions[0].timestamp) %></a>
          (<em><%= versions[0].msg %></em>) to the version created at
          <a href="/<%= page.path %>/<%= versions[1]._id %>"><%= formatDate(versions[1].timestamp) %></a>
          (<em><%= versions[1].msg %></em>).
        </p>
      </header>
      <%- diff %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
