<!DOCTYPE html>
<html>
  <%- include('includes/head', { title: `${error.status} ${message}` }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title: `${error.status} ${message}` }) %>
    <main>
      <p><%- resolution %></p>
      <div class="error-stack">
        <pre><%= error.stack %></pre>
      </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
