<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
  <%- include('includes/header', { isLoggedIn, char, title: `${page.title} — Revision History` }) %>
  <nav class="page">
    <li><a href="/<%= page.path %>">Read</a></li>
    <% if (isLoggedIn) { %>
    <li><a href="/<%= page.path %>/edit">Edit</a></li>
    <% } %>
    <li class="active">History</li>
  </nav>
  <main>
    <form action="/<%= page.path %>/compare" method="POST">
      <table>
        <tbody>
          <% for (const version of versions) { %>
          <tr>
            <td><input type="radio" name="a" /></td>
            <td><input type="radio" name="b" /></td>
            <td>
              <%= version.msg %><br />
              <small><a href="/<%= page.path %>/<%= version._id %>"><%= formatDate(version.timestamp) %></a></small>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>
  </main>
  <%- include('includes/footer') %>
  </body>
</html>
