<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title: page.title }) %>
    <nav class="page">
      <li class="active">Read</li>
      <% if (isLoggedIn) { %>
      <li><a href="/<%= page.path %>/edit">Edit</a></li>
      <% } %>
      <li><a href="/<%= page.path %>/history">History</a></li>
    </nav>
    <main>
      <% if (locals.promptDelete) { %>
      <aside>
        <p>Do you want to delete this page? <strong>Warning: This cannot be undone.</strong></p>
        <form action="/<%= page.path %>/delete" method="POST">
          <button>Delete this page</button>
        </form>
      </aside>
      <% } %>
      <%- include('includes/file', { isImage: page.types.includes('Image file'), title: page.title, url: page.file?.url, mimetype: page.file?.mimetype, size: page.file?.size }) %>
      <%- markup %>
      <% if (locals.subcategories && subcategories.length > 0) { %>
      <section class="subcategories">
        <h2>Subcategories</h2>
        <ul class="category-listing">
          <% for (const subcat of subcategories) { %>
          <li><a href="/<%= subcat.path %>"><%= subcat.title %></a></li>
          <% } %>
        </ul>
      </section>
      <% } %>
      <% if (locals.pages && pages.length > 0) { %>
      <section class="category-pages">
        <h2>Pages in category &ldquo;<%= page.title %>&rdquo;</h2>
        <ul class="category-listing">
          <% for (const p of pages) { %>
          <li><a href="/<%= p.path %>"><%= p.title %></a></li>
          <% } %>
        </ul>
      </section>
      <% } %>
      <% if (locals.claimable) { %>
      <p>
        <a href="/<%= page.path %>/claim" class="button">Claim <%= page.title %></a>
      </p>
      <% } %>
      <% if (locals.secrets && secrets.length > 0) { %>
      <h2>Secrets</h2>
      <ul>
        <% for (const secret of secrets) { %>
        <li><%- secret.markup %></li>
        <% } %>
      </ul>
      <% } %>
      <% if (page.categories && page.categories.length > 0) { %>
      <ul class="categories">
        <% for (const category of page.categories) { %>
        <li>
          <a href="/<%= category.path %>"><%= category.title %></a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
