<!DOCTYPE html>
<html>
  <%- include('includes/head', { title, skin }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title: page.title }) %>
    <nav class="page">
      <li class="active">Read</li>
      <% if (isLoggedIn) { %>
      <li><a href="/<%= page.path %>/edit">Edit</a></li>
      <% } %>
      <li><a href="/<%= page.path %>/history">History</a></li>
    </nav>
    <main>
      <% if (locals.promptDelete) { %>
      <aside>
        <p>Do you want to delete this page? <strong>Warning: This cannot be undone.</strong></p>
        <form action="/<%= page.path %>/delete" method="POST">
          <button>Delete this page</button>
        </form>
      </aside>
      <% } %>
      <%- include('includes/file', { isImage: page.types.includes('Image file'), title: page.title, url: page.file?.url, mimetype: page.file?.mimetype, size: page.file?.size }) %>
      <%- markup %>
      <%- include('includes/category-content', { elems: locals.subcategories, cls: 'subcategories', title: 'Subcategories' }) %>
      <%- include('includes/category-content', { elems: locals.pages, cls: 'category-pages', title: `Pages in category &ldquo;${page.title}&rdquo;` }) %>
      <% if (locals.claimable) { %>
      <p>
        <a href="/<%= page.path %>/claim" class="button">Claim <%= page.title %></a>
      </p>
      <% } %>
      <% if (locals.categories && categories.length > 0) { %>
      <ul class="categories">
        <% for (const cat of categories) { %>
        <li>
          <a href="/<%= cat.path %>"><%= cat.title %></a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
