<!DOCTYPE html>
<html>
<%- include('./includes/head', { title }) %>
  <body>
    <%- include('./includes/header', { isLoggedIn, char, title }) %>
    <!-- Your User ID: <%= id %> -->
    <main class="profile">
      <% if (isLoggedIn) { %>
        <h2>Logins</h2>
        <p>You&rsquo;ll need to leave at least one of these services connected in order to log into your account in the future. Connecting an account simply lets you use it to log in.</p>
        <table>
          <thead>
            <tr>
              <th>Service</th>
              <th class="short">Status</th>
              <th />
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Google</td>
              <% if (connectedGoogle) { %>
              <td class="short">Connected</td>
              <td class="actions"><a href="/disconnect/google" class="button">Disconnect Google</a></td>
              <% } else { %>
              <td class="short">Not connected</td>
              <td class="actions"><a href="/login/google" class="button">Connect Google</a></td>
              <% } %>
            </tr>
            <tr>
              <td>Discord</td>
              <% if (connectedDiscord) { %>
              <td class="short">Connected</td>
              <td class="actions"><a href="/disconnect/discord" class="button">Disconnect Discord</a></td>
              <% } else { %>
              <td class="short">Not connected</td>
              <td class="actions"><a href="/login/discord" class="button">Connect Discord</a></td>
              <% } %>
            </tr>
          </tbody>
        </table>
        <% if (locals.loremaster) { %>
        <h2>Loremaster</h2>
        <p>
          In <strong>loremaster mode</strong>, you can see all of the secrets on the site.
          <% if (locals.perspective === 'loremaster') { %> You are currently in loremaster mode.<% } %>
          <% if (locals.perspective === 'character') { %> You are currently in character mode, which shows you only those secrets known to <a href="<%= char.path %>"><%= char.name %></a>.<% } %>
          <% if (locals.perspective === 'public') { %> You are currently in public mode, showing you only what someone who hasn&rsquo;t even logged in would see.<% } %>
          <p>
          <% if (locals.perspective === 'loremaster') { %>
            <a href="/toggle-loremaster" class="toggle on">Turn off loremaster mode</a>
          <% } else { %>
            <a href="/toggle-loremaster" class="toggle off">Turn on loremaster mode</a>
          <% } %>
          </p>
        </p>
        <% } %>
        <h2>Characters</h2>
        <p>
        <% if (locals.charClaimMode) { %>
          <a href="/toggle-char-claim-mode" class="toggle on">Turn off character claim mode</a>
        <% } else { %>
            <a href="/toggle-char-claim-mode" class="toggle off">Turn on character claim mode</a>
        <% } %>
        </p>
        <% if (locals.characters && characters.length > 0) { %>
        <table>
          <thead>
            <tr><th /><th>Character</th><th /></tr>
          </thead>
          <tbody>
            <tr>
              <% for (const char of characters) { %>
              <td class="short">
                <% if (char._id.toString() === locals.char?.id?.toString()) { %>
                <span class="active-char">&starf;</span>
                <% } %>
              </td>
              <td><a href="/<%= char.page.path %>"><%= char.page.title %></a></td>
              <td class="actions">
                <a href="/character/<%= char._id %>/update" class="button">Update</a>
                <a href="/character/<%= char._id %>/select" class="button">Select</a>
                <a href="/character/<%= char._id %>/release" class="button">Release</a>
              </td>
              <% } %>
            </tr>
          </tbody>
        </table>
        <% } else { %>
        <p><em>You don&rsquo;t have any characters right now. You can <a href="/create?body=%5B%5BType%3APerson%5D%5D">create a new page</a> with your character (don&rsquo;t forget to use the tag <strong>[[Type:Person]]</strong> to identify it as a page about a person, and thus a claimable character). If character claiming mode is on (see toggle above), then you will be able to claim that character.</em></p>
        <% } %>
      <% } else { %>
        <p>You&rsquo;ll need to log before you can see or edit your profile.</p>
      <% } %>
    </main>
    <%- include('./includes/footer') %>
  </body>
</html>
