<!DOCTYPE html>
<html>
<%- include('./includes/head', { title }) %>
  <body>
    <%- include('./includes/header', { isLoggedIn, char, title }) %>
    <main>
      <% if (isLoggedIn) { %>
        <h2>Logins</h2>
        <p>You&rsquo;ll need to leave at least one of these services connected in order to log into your account in the future. Connecting an account simply lets you use it to log in.</p>
        <table>
          <thead>
            <tr>
              <th>Service</th>
              <th>Status</th>
              <th />
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Google</td>
              <% if (connectedGoogle) { %>
              <td>Connected</td>
              <td><a href="/disconnect/google" class="button">Disconnect Google</a></td>
              <% } else { %>
              <td>Not connected</td>
              <td><a href="/login/google" class="button">Connect Google</a></td>
              <% } %>
            </tr>
            <tr>
              <td>Discord</td>
              <% if (connectedDiscord) { %>
              <td>Connected</td>
              <td><a href="/disconnect/discord" class="button">Disconnect Discord</a></td>
              <% } else { %>
              <td>Not connected</td>
              <td><a href="/login/discord" class="button">Connect Discord</a></td>
              <% } %>
            </tr>
          </tbody>
        </table>
        <% if (chars.length > 0) { %>
          <h2>Characters</h2>
          <table>
            <thead>
              <tr>
                <th>Character</th>
                <th>Party</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (const char of chars) { %>
              <tr>
                <td><%= char.name %></td>
                <td></td>
                <td>
                  <a href="/characters/select/<%= char._id %>" class="button">Select</a>
                  <a href="/characters/delete/<%= char._id %>" class="button">Delete</a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        <% } else { %>
          <div class="null">
            <p>You don&rsquo;t have any characters yet.</p>
          </div>
        <% } %>
        <form action="/characters" method="POST">
          <label for="new-char-name">Character name</label>
          <input type="text" id="new-char-name" name="new-char-name" placeholder="Enter your character’s name here." />
          <% for (const field of charSheet) { %>
            <label for="<%= field.id %>"><%= field.label %></label>
            <input type="<%= field.type %>" id="<%= field.id %>" name="<%= field.id %>" value="0" />
          <% } %>
          <button>Add Character</button>
        </form>
      <% } else { %>
        <p>You&rsquo;ll need to log before you can see or edit your profile.</p>
      <% } %>
    </main>
    <%- include('./includes/footer') %>
  </body>
</html>
