<!DOCTYPE html>
<html>
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
    <header class="page">
      <h1><%- title %></h1>
    </header>
    <main>
      <div class="content-wrapper">
        <% if (locals.searchResults && searchResults.length > 0) { %>
        <p>Found <%= searchResults.length === 1 ? '1 entry' : `${searchResults.length} entries` %> for &ldquo;<strong><%= query %></strong>.&rdquo;</p>
        <ul>
          <% for (const result of searchResults) { %>
          <li>
            <a href="<%= result.path %>"><%= result.title %></a>
          </li>
          <% } %>
        </ul>
        <% } else { %>
        <p>Sorry, we couldn&rsquo;t find any entries for &ldquo;<strong><%= query %></strong>.&rdquo;
        <% } %>
      </div>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
