<!DOCTYPE html>
<html>
  <%- include('includes/head', { title }) %>
  <body>
    <%- include('includes/header', { isLoggedIn, char, title, query }) %>
    <main>
      <% if (locals.searchResults && Array.isArray(searchResults) && searchResults.length > 0) { %>
      <ol class="search-results">
        <% for (const res of searchResults) { %>
        <li>
          <a href="/<%= res.path %>"><%= res.title %></a>
        </li>
        <% } %>
      </ol>
      <% } else { %>
      <p><em>No results found for &ldquo;<%= query %>.&rdquo;</em></p>
      <% } %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
